blockquote,body,caption,dd,dl,fieldset,figure,form,h1,h2,h3,h4,h5,h6,hr,legend,ol,p,pre,table,td,th,ul{margin:0;padding:0}
h1,h2,h3,h4,h5,h6{font-weight:400}
body,html{box-sizing:border-box;width:100%}
*,::after,::before{box-sizing:inherit}
body{font-size:15px;line-height:1.46668;font-weight:initial;color:#1d1c1d;font-variant-ligatures:common-ligatures;-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased}
[lang] body{font-family:Slack-Lato,Slack-Fractions,appleLogo,sans-serif}
[lang=ja-JP] body{font-family:NotoSansJP,Slack-Lato,Slack-Fractions,appleLogo,sans-serif}
[lang=ko-KR] body{font-family:NotoSansKR,Slack-Lato,Slack-Fractions,appleLogo,sans-serif}
[lang=zh-CN] body{font-family:NotoSansSC,Slack-Lato,Slack-Fractions,appleLogo,sans-serif}
[lang=zh-TW] body{font-family:NotoSansTC,Slack-Lato,Slack-Fractions,appleLogo,sans-serif}
a{color:#1264a3;text-decoration:none}
a:active,a:focus,a:hover{color:#0b4c8c;text-decoration:underline}
h1{font-size:28px;line-height:1.2143;font-weight:900}
h2{font-size:22px;line-height:1.36365;font-weight:900}
h3{font-size:18px;line-height:1.33334;font-weight:900}
h4{font-size:15px;line-height:1.46668;font-weight:initial}
ol,p,ul{margin-bottom:16px}
ol,ul{margin-left:20px}
ol ol,ol ul,ul ol,ul ul{margin-top:4px;margin-bottom:0}
li{margin-bottom:4px}
ol,ol ol ol ol,ol ol ol ol ol ol ol{list-style-type:decimal}
ol ol,ol ol ol ol ol,ol ol ol ol ol ol ol ol{list-style-type:lower-alpha}
ol ol ol,ol ol ol ol ol ol,ol ol ol ol ol ol ol ol ol{list-style-type:lower-roman}
ul,ul ul ul ul,ul ul ul ul ul ul ul{list-style-type:disc}
ul ul,ul ul ul ul ul,ul ul ul ul ul ul ul ul{list-style-type:circle}
ul ul ul,ul ul ul ul ul ul,ul ul ul ul ul ul ul ul ul{list-style-type:square}
code{padding:2px 3px 1px;border:1px solid rgba(29,28,29,.13);border-radius:3px;background-color:rgba(29,28,29,.04);color:#e01e5a;font-family:Monaco,Menlo,Consolas,'Courier New',monospace!important;font-size:12px;line-height:1.50001;font-variant-ligatures:none;white-space:pre;white-space:pre-wrap;word-wrap:break-word;word-break:normal;-webkit-tab-size:4;-moz-tab-size:4;-o-tab-size:4;tab-size:4}
pre{margin-bottom:16px;padding:8px;border:1px solid rgba(29,28,29,.13);border-radius:4px;background:rgba(29,28,29,.04);font-family:Monaco,Menlo,Consolas,'Courier New',monospace!important;font-size:12px;line-height:1.50001;font-variant-ligatures:none;white-space:pre;white-space:pre-wrap;word-wrap:break-word;word-break:normal;-webkit-tab-size:4;-moz-tab-size:4;-o-tab-size:4;tab-size:4}
pre code{padding:0;border:none;background:0 0;color:inherit}
blockquote{position:relative;margin-bottom:16px;padding-left:16px}
blockquote::before{position:absolute;top:0;bottom:0;left:0;display:block;width:4px;border-radius:8px;background:#ddd;content:''}
hr{border:none;border-top:1px solid #ddd;clear:both;margin-bottom:16px}
button{padding:0;background-color:transparent;border-width:0;cursor:pointer}
button,input,select,textarea{font-family:inherit}