html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: "Neue Haas Grotesk Text Pro", sans-serif;
  margin: 0;
  box-sizing: border-box;
  position: relative;
}

body * {
  box-sizing: border-box;
}

a,
a:visited {
  text-decoration: none;
}

a[href]:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
}

figure {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

ol,
ul {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

.display-mobile-none,
.display-tablet-block,
.display-desktop-block {
  display: none;
}

.display-mobile-block {
  display: block;
}

@media (min-width: 600px) and (max-width: 1023px) {
  .display-mobile-block,
  .display-desktop-block {
    display: none;
  }

  .display-tablet-block {
    display: block;
  }
}

@media (min-width: 1024px) {
  .display-mobile-block,
  .display-tablet-block {
    display: none;
  }

  .display-desktop-block {
    display: block;
  }
}
