@charset "UTF-8";
.blue {
  color: #009fe3; }

.orange {
  color: #ff6600; }

[class*='icon-'] {
  vertical-align: middle; }

div.ui-dialog-titlebar span.ui-button-text {
  display: none !important; }

input[readonly] {
  color: #ccc; }

html {
  font-size: 15px;
  color: #333; }

html * {
  font-family: "Open Sans", sans-serif; }

body {
  margin: 0;
  background-color: #81cbed; }

button {
  cursor: pointer;
  background: #ff6600;
  color: #fff;
  font-weight: bold;
  padding: 0.5em;
  border-radius: 0.2em;
  font-size: 15px;
  width: 100%;
  border: none; }

h1, h2, h3, p {
  margin: 0; }

a {
  color: #009fe3;
  text-decoration: none; }

a img {
  border: 0px; }

a:hover {
  text-decoration: underline; }

input.d4s_changed {
  background: #ffa07a; }

input:invalid {
  box-shadow: none; }

.cent {
  max-width: 50em;
  margin: auto;
  color: #333; }

.cents {
  max-width: 25em;
  margin: auto; }

#top {
  padding: 1em;
  background-color: #fff; }

#top img {
  vertical-align: bottom; }

#pers {
  text-align: right;
  float: right; }

#pers #myimg {
  float: right;
  padding-left: 0.2em; }

#pers #mytxt {
  float: right; }

#mid {
  background-color: #40b7ea;
  padding: 2em 1em 3em 1em; }

#bot {
  padding: 1em; }

#bot > div {
  text-align: right;
  padding: 0.3em; }

#bot a {
  color: #104875;
  text-decoration: none;
  font-weight: bold;
  margin: 0 1em;
  font-size: 13px; }

#bot #apps {
  padding-right: 2em; }

#bot #apps a {
  margin: 0; }

#bot img {
  height: 2.4em; }

#k-top {
  color: #fff;
  margin-bottom: 1em; }

#k-top > img {
  float: left;
  margin-right: 1em;
  height: 5em; }

.blk {
  background: #fff;
  border-radius: 1em 1em 0 1em;
  padding: 3em 0;
  margin: 0.3em;
  position: relative;
  border: 1px solid #fff;
  box-sizing: border-box; }

.blk > h2 {
  position: absolute;
  top: 1em;
  left: 3.5em;
  font-size: 18px;
  padding: 1em; }

.txt {
  background: #eee;
  padding: 1em;
  margin-top: 4em; }

.txt > h2 {
  font-size: 18px;
  padding: 1em; }

input, button, .txt * {
  box-sizing: border-box; }

label {
  font-size: 13px;
  font-weight: bold;
  line-height: 1.5em;
  white-space: nowrap; }

input {
  border: none;
  width: 100%;
  border-radius: 0.1em;
  padding: 0.5em;
  margin-bottom: 0.5em; }

div.lasche {
  position: absolute;
  top: 2em;
  left: -0.5em;
  background: #009fe3;
  color: #fff;
  border-radius: 0 0.5em 0.5em 0;
  box-shadow: inset 0.4em 0 1em #009fe3;
  text-align: center;
  padding: 0.5em;
  min-width: 4em;
  font-size: 13px;
  font-weight: bold; }

div.lasche > div {
  font-size: 24px; }

div.info {
  position: relative;
  padding: 0.5em 0 0 4.5em;
  font-size: 13px; }

div.info > div {
  position: absolute;
  left: 0.2em;
  top: 0.3em;
  font-size: 300%; }

#meter {
  width: 100%;
  height: 0.2em; }

#scale {
  width: 0;
  height: 0.2em;
  background: #008000; }

#cookies-bar {
  font-size: 13px;
  background: #ccc;
  width: 100%;
  text-align: center; }

#cookies-bar button {
  color: #009fe3;
  background: transparent;
  border: none;
  font-weight: bold;
  width: auto; }

#cookies-info {
  height: 6em;
  max-width: 70%;
  font-size: 13px;
  padding: 5em 1em 3em 4em;
  text-align: left;
  margin-right: auto; }

#html5-bar {
  height: 8em;
  color: #fff;
  vertical-align: middle;
  background: #ff6600;
  width: 100%;
  text-align: center; }

#html5-bar p {
  line-height: 1em;
  padding-top: 3em; }

#aktivieren #k-top {
  text-align: center; }

#aktivieren .blk {
  margin: auto; }

#aktivieren .blk > h2 {
  left: 5.5em;
  top: 0.5em; }

#aktivieren button {
  padding: 1em;
  margin-top: 1em; }

#aktivieren #nube {
  width: auto;
  margin-top: 1em; }

#anmeldung .txt {
  padding-top: 0; }

#anmeldung .features {
  padding: 1em;
  font-size: 13px; }

#anmeldung .feature {
  position: relative;
  padding: 0 0 0.5em 2em; }

#anmeldung .feature > div {
  position: absolute;
  left: 0.3em;
  top: 0.1em; }

#anmeldung .blk {
  min-width: 32%;
  xmax-width: 15em;
  height: 27em;
  margin: auto; }

/*#anmeldung #eins .txt {height:60%;position:relative;}*/
#anmeldung #eins button {
  margin-top: 1em; }

#anmeldung #eins #password {
  margin-bottom: 0; }

#anmeldung #eins a {
  font-size: 13px;
  font-weight: bold;
  line-height: 2em;
  color: #40b7ea;
  text-decoration: none; }

#anmeldung #eins a:hover {
  text-decoration: underline; }

/*#anmeldung #eins button {position:absolute;bottom:1em;left:1em;width:88%;}*/
#erneuern2 #k-top {
  text-align: center; }

#erneuern2 .blk {
  margin: auto; }

#erneuern2 .blk > h2 {
  left: 4.5em; }

#erneuern2 button {
  margin-top: 1.5em; }

#erneuern #k-top {
  text-align: center; }

#erneuern .blk {
  margin: auto; }

#erneuern .blk > h2 {
  left: 4.5em; }

#erneuern button {
  margin-top: 1.5em; }

#erneuern a {
  font-size: 13px;
  font-weight: bold;
  line-height: 2em;
  color: #40b7ea;
  text-decoration: none; }

#erneuern #form2 {
  display: none; }

#erneuern #code {
  font-family: monospace;
  font-size: 18px;
  width: 10em;
  margin: 0.3em 0;
  border: 1px inset; }

#code::-ms-clear {
  display: none; }

#err {
  text-align: center; }

#err button {
  width: auto;
  margin-top: 1.5em; }

#warn {
  text-align: center; }

#warn button {
  width: auto;
  margin-top: 1.5em; }

#info_page .txt {
  margin-top: 0;
  background-color: #fff;
  color: #666; }

#info_page .txt > div > h2 {
  cursor: pointer;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between; }

#info_page .txt > div > p {
  margin-top: 1em; }

#info_page .txt > div {
  display: table;
  width: 100%;
  border: solid thin #ddd;
  border-radius: 0.2em;
  margin: 0.5em auto;
  white-space: normal;
  box-shadow: 0px 0px 4px 1px #ddd;
  padding: 0.5em; }

#info_page input, #info_page textarea, #info_page button {
  border: none;
  width: 30em;
  max-width: 100%;
  min-width: 50%; }

#info_page input[type=radio], #info_page input[type=checkbox] {
  max-width: 2em;
  min-width: 2em; }

#info_page input[type=email], #info_page input[type=text], #info_page textarea {
  -webkit-appearance: none;
  -webkit-box-shadow: 0px 0px 5px 2px #ccc;
  box-shadow: 0px 0px 5px 2px #ccc; }

#info_page select {
  margin-bottom: 0.5em; }

#info_page textarea {
  height: 9em;
  padding: 0; }

#info_page button {
  background: #ff6600;
  color: #fff;
  font-weight: bold;
  padding: 1em;
  border-radius: 0.4em;
  margin-top: 1em; }

.ffs {
  display: none; }

#info_page input, #info_page textarea, #info_page button {
  width: 100%; }

#info_page #anliegen {
  padding: 0.25em;
  resize: vertical; }

.faq_chevron.active {
  transform: rotate(180deg); }

#herstellen #k-top {
  text-align: center; }

#herstellen .blk {
  margin: auto; }

#herstellen .blk > h2 {
  left: 4.5em; }

#herstellen button {
  margin-top: 1.5em; }

#profil .blk {
  margin: auto; }

#profil .txt {
  position: relative; }

#profil #pw_dial #password {
  margin: 0; }

#profil #pw_dial button {
  margin: 1.5em 0 1em 0; }

#profil #email_dial button {
  margin: 1em 0; }

#profil input[type=email],
#profil input[type=text],
#pw_dial #pw1,
#pw_dial #password,
#email_dial #d4spw,
#info_page #code {
  -webkit-appearance: none;
  -webkit-box-shadow: 0px 0px 5px 2px #ccc;
  box-shadow: 0px 0px 5px 2px #ccc; }

#regal div.expired h1, #regal div.expired h2 {
  color: #ccc; }

#regal div.expired > * {
  filter: grayscale(1); }

#regal div.expired > button {
  filter: grayscale(0); }

#regal a:hover {
  text-decoration: none; }

#regal.bag #shelf a.all, #regal #classrooms.bag a.all {
  display: none; }

#regal.bag #shelf button.bag, #regal #classrooms.bag button.bag {
  display: none; }

#regal #shelf button.bag, #regal #classrooms button.bag {
  height: 3em;
  background: none;
  width: auto;
  color: #ff6600;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto 0 auto auto;
  padding: 0;
  z-index: 3; }

#regal #classrooms button.bag {
  margin: auto 0 auto 0;
  padding: 0; }

#regal #shelf button.bag:focus, #regal #classrooms button.bag:focus {
  outline: 0; }

#regal #shelf button.bag span.i, #regal #classrooms button.bag span.i {
  font-family: 'd4s'; }

#regal #shelf a.bag span.all, #regal #classrooms a.bag span.all {
  display: none; }

#regal #shelf a.all span.bag, #regal #classrooms a.all span.bag {
  display: none; }

#regal #classrooms a div.class_sort, #regal #shelf a div.book_sort, #regal #shelf a div.classbook_sort {
  height: 1.5em;
  color: #ff6600;
  cursor: grabbing;
  margin: auto 0.5em auto 0em;
  filter: grayscale(0) !important; }

#regal #classrooms.bag a div.class_sort, #regal.bag #shelf a div.book_sort, #regal.bag #shelf a div.classbook_sort {
  display: none; }

button.bag > span.all {
  filter: grayscale(1); }

#regal #shelf > a > div {
  min-height: 8em;
  margin-bottom: 0.5em;
  border: none;
  background: #fff;
  text-align: left;
  font-size: 18px;
  padding: 0.5em;
  overflow: hidden;
  position: relative;
  border-radius: 0.2em;
  border: 1.5px solid #ccc;
  box-shadow: 0px 0px 5px 2px #ddd; }

#regal #shelf > a > div, #regal #classrooms > a > div, #regal #classrooms > div {
  display: flex;
  align-items: center; }

#regal #shelf > a > div > div.book_cover > img, #add_code_dialog > div > img {
  margin-right: 1.5em;
  float: left;
  max-height: 7em;
  max-width: 89px; }

#regal .tx {
  display: table-cell;
  vertical-align: middle;
  height: 5em; }

#regal h1, .book_add_confirm_dialog h1 {
  font-size: 18px;
  color: #666;
  margin-bottom: 0.5em;
  line-height: 1.5em; }

#regal h2, .book_add_confirm_dialog h2 {
  color: #666;
  font-size: 15px;
  font-weight: normal; }

#regal h4 {
  color: #666;
  font-size: 13px;
  margin: 0;
  font-weight: normal;
  margin-top: 1.5em; }

#regal-cloud {
  max-width: 26em;
  height: 12em; }

#book-cloud {
  max-width: 50em;
  height: 275px; }

#regal-cloud input, #token-cloud input, #class-cloud input, #add_code_dialog input {
  font-size: 18px;
  margin: 0.3em 0;
  text-align: center;
  border: 1px inset;
  padding: 5px; }

#book-cloud #bookfeld {
  margin: auto;
  left: 1em;
  bottom: 0;
  right: 1em;
  font-size: 13px;
  overflow-x: auto; }

#book-cloud #bookfeld img, .book-choice img {
  border: 1px solid #333; }

#regal-cloud #codefeld label, #token-cloud #tokenfeld label, #class-cloud #classfeld label {
  white-space: unset; }

#regal-cloud #codeOK, #token-cloud #tokenOK, #class-cloud #class_save, #add_code_ok {
  width: auto;
  padding: 5px 5px;
  font-size: 13px;
  margin-top: 0.5em;
  min-width: 8em;
  box-sizing: content-box; }

#add_code_ok {
  position: unset;
  float: right; }

#registrieren2 #k-top {
  text-align: center; }

#registrieren2 .blk {
  margin: auto; }

#registrieren2 .blk > h2 {
  left: 5em; }

#registrieren2 button {
  margin-top: 1em; }

#registrieren #k-top {
  text-align: center; }

#registrieren .blk {
  margin: auto; }

#registrieren .blk > h2 {
  left: 5em; }

#registrieren button {
  margin-top: 1em; }

#info_page .features {
  padding: 1em;
  font-size: 13px; }

#info_page .feature {
  position: relative;
  padding: 0 0 0.5em 2em; }

#info_page .feature > div {
  position: absolute;
  left: 0.3em;
  top: 0.1em; }

#start .txt {
  padding-top: 0; }

#start .features {
  padding: 1em;
  font-size: 13px; }

#start .feature {
  position: relative;
  padding: 0 0 0.5em 2em; }

#start .feature > div {
  position: absolute;
  left: 0.3em;
  top: 0.1em; }

#start .blk {
  min-width: 32%;
  max-width: 15em;
  height: 28em;
  float: left; }

#start #null {
  color: #fff;
  padding: 1em;
  background: transparent;
  height: initial;
  border: none; }

#start #null h2 {
  position: static;
  padding: 0; }

#start #null img {
  height: 5em;
  padding: 1em 0;
  display: block;
  margin-right: 1em; }

#start #null .hinweis {
  border: 3px solid double;
  background: #fff; }

#start .blk > h2 {
  top: 0; }

#start #eins.blk {
  padding: 1em; }

#start #zwei .txt {
  height: 60%;
  position: relative; }

/*#start #zwei button {position:absolute;bottom:1em;left:1em;width:88%;}*/
#start #code {
  font-family: monospace;
  font-size: 18px; }

#start #zwei #password {
  margin-bottom: 0; }

#start #zwei a {
  font-size: 13px;
  font-weight: bold;
  line-height: 2em;
  color: #40b7ea;
  text-decoration: none; }

#start #zwei a:hover {
  text-decoration: underline; }

#start #drei.blk > h2 {
  top: 0.5em;
  left: 5.5em; }

#start #drei.blk {
  padding: 1em; }

#start #drei p {
  font-size: 13px;
  padding: 6.5em 0 1em 0; }

#start #drei button > div {
  font-size: 24px;
  padding: 0; }

#start #drei {
  background-image: url("/resources/digi4s-br/img/pupils.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom center; }

#start #drei .features {
  padding: 1em 0; }

#start #drei .wtxt {
  margin-top: 6em; }

#start1 .blk {
  float: left; }

#start1 #eins {
  min-width: 66%;
  max-width: 32em; }

#start1 #zwei .txt {
  background: none;
  margin-top: 7em; }

#start1 #zwei {
  min-width: 30%;
  height: 28em;
  position: relative;
  padding: 0;
  text-align: center; }

#start1 #zwei.blk {
  border-radius: 1em 1em 0 0; }

#start1 #zwei.blk > h2 {
  left: 1em;
  right: 1em; }

#start1 #zwei img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%; }

#start1 #zwei button {
  width: 90%;
  margin-bottom: 1em; }

#lms_sync .blk {
  margin: auto; }

#lms_open .blk {
  margin: auto; }

.overlay {
  position: fixed;
  width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  z-index: 8;
  opacity: 0.4;
  background: #333; }

.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -3em;
  margin-left: -7em;
  border: 1em solid #40b7ea;
  border-top: 1em solid #104875;
  border-radius: 50%;
  width: 8em;
  height: 8em;
  animation: spin 2s linear infinite;
  z-index: 8; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.ebpribbon, .approbationribbon, .not_available_ribbon {
  text-align: center;
  padding: 0.1em 1em;
  line-height: 2em;
  display: block;
  z-index: 7;
  overflow: hidden;
  width: 10em;
  box-shadow: 0.1em 0.1em 1em #333333CC; }

.ebpribbon, .approbationribbon {
  color: #fff;
  font-size: 9px;
  position: relative;
  float: right;
  top: 1.5em;
  right: -4em;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg); }

.ebpribbon {
  background: #ff6600; }

.approbationribbon {
  background: #40b7ea; }

.not_available_ribbon {
  color: #333;
  font-size: 9px;
  position: absolute;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  left: -25px;
  top: 25px;
  background: #eee; }

.replacement_dialog, .replacement_confirm_dialog {
  font-size: 13px;
  text-align: center;
  max-width: 500px; }

.replacement_book {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin-right: 35px;
  margin-left: 35px;
  max-width: 180px; }

.replacement_book img {
  width: 100px; }

.replacement_book img {
  border: 6px solid #fff;
  border-radius: 0.4em; }

.replacement_book.active img {
  border: 6px solid #ff6600;
  border-radius: 0.4em; }

.replacement_book.active span {
  color: #ff6600; }

.ui-widget .replacement_button, .replacement_confirm_button, .replacement_abort_button {
  width: auto;
  padding: 0.7em 1em 0.7em 1em;
  font-size: 13px;
  margin-left: 10px;
  margin-right: 10px; }

.ui-widget .replacement_button.inactive {
  background-color: #ccc; }

body .ui-dialog .ui-dialog-buttonpane {
  border: none;
  margin-top: 0.1em; }

#regal #bag.all button, #regal #classroom_archive.all button, #notification_archive.all button {
  background: #ff6600; }

#regal #bag button:focus, #regal #classroom_archive button:focus, #notification_archive button:focus {
  outline: 0; }

#regal #bag button div, #regal #classroom_archive button div, #notification_archive button div {
  background-color: #fff;
  border-radius: 0.5em;
  height: 0.9em;
  width: 0.9em;
  position: absolute;
  left: 0.2em;
  bottom: 0.1em; }

button.bag > span > .eye {
  color: #fff;
  border: 1px solid #ff6600;
  border-radius: 0.2em;
  padding: 2px;
  background-color: #ff6600;
  font-size: 24px; }

button.bag > span.all > .eye {
  background-color: #ccc; }

#regal #classrooms > a.all > div, #regal #shelf > a.all > div {
  background-color: #cccccc7f; }

#regal #shelf > a.all > div > div.ebp_book_corner, #regal #shelf > a.all > div > div.approbation_book_corner {
  filter: grayscale(1); }

#regal #shelf > a.all > div > img, #regal #shelf > a.all > div > div:not(.book_sort),
#regal #classrooms > a.all > div > img, #regal #classrooms > a.all > div > div:not(.class_sort) {
  opacity: 0.5; }

#regal #add1, #add_classroom, #create_classroom, #regal #class_admin, #book_add,
#class_member_admin, #member_invite_email_button, #member_invite_csv_button, #member_invite_other_button, #create_token,
#notification_add_button, #classroom_edit_list, #ebook_edit_list, #classroom_search_list, #ebook_search_list,
#class_ebook_edit_list {
  width: auto;
  font-size: 13px;
  height: 3em;
  display: inline-block;
  margin-right: 0.7em;
  padding: 1px 15px; }

#member_invite_email_button, #member_invite_csv_button, #member_invite_other_button, #create_token {
  height: auto;
  min-height: 3em; }

[class^="class-icon-"] {
  vertical-align: middle;
  font-size: 24px; }

a.inactive > div {
  filter: grayscale(1); }

#classroom_search_list_input, #ebook_search_list_input {
  transition-timing-function: ease;
  transition-duration: 200ms;
  height: 100%;
  margin: 0em;
  margin-right: -0.4em;
  vertical-align: middle;
  border: 1.5px solid #ccc;
  border-radius: 0.2em;
  border-right: none; }

#classroom_search_list_input.inactive, #ebook_search_list_input.inactive {
  width: 0;
  padding: 0; }

#classroom_search_list_input.active, #ebook_search_list_input.active {
  width: 12em;
  border-color: #ffa07a; }

#regal #classrooms > a.hidden_by_search, #regal #shelf > a.hidden_by_search {
  display: none; }

.ui-tooltip {
  z-index: 10;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 13px !important;
  border: 0.5px solid #ff6600 !important; }

#class-cloud, #token-cloud, #regal-cloud {
  margin: 0.5em; }

#regal #class_admin {
  position: absolute;
  right: 1.7em;
  top: 0;
  bottom: 0;
  margin: auto; }

#regal #classrooms > a, #regal #shelf > a {
  display: block; }

#regal #classrooms > a > div, #regal #classrooms > div {
  min-height: 7.5em;
  margin-bottom: 0.5em;
  border: none;
  background: #fff;
  text-align: left;
  font-size: 18px;
  padding: 0.5em;
  overflow: hidden;
  position: relative;
  border-radius: 0.2em;
  border: 1.5px solid #ccc; }

#regal #classrooms > a > div {
  box-shadow: 0px 0px 5px 2px #ddd; }

#regal #classrooms.class_info > div {
  min-height: auto;
  margin-bottom: 1em;
  border: none; }

.class_info {
  vertical-align: middle; }

.class_info.current {
  margin-left: 0.5em;
  margin-bottom: 0.5em; }

#regal #classrooms > div.no_class_info_box {
  text-align: center;
  vertical-align: middle; }

#regal #classrooms > a > div > img, #regal #classrooms > div > img {
  max-height: 7em;
  max-width: 89px;
  margin-right: 1.5em; }

#regal #classrooms > a > div > div, #regal #classrooms > div > div {
  display: inline-block; }

#regal #classrooms > a > div > .class_resources {
  margin: 0;
  margin-left: auto;
  height: auto;
  text-align: right; }

#regal #classrooms > a > div > .class_resources > img {
  margin-right: 10px;
  max-height: 6em;
  max-width: 77px; }

#current_class_token {
  margin-bottom: 1em;
  padding: 5px;
  border: 1px inset;
  border-radius: 5px;
  text-align: center; }

#class-cloud button#class_save {
  margin-top: 0; }

button#class_save:disabled {
  background-color: #999; }

#shelf_control, #classroom_control, #member_control, #notification_control {
  background-color: #fff;
  margin-top: 0.5em;
  padding: 0.8em 1em;
  display: flex;
  justify-content: space-between;
  border-radius: 5px 5px 0 0;
  border-bottom: 1.5px solid #ccc;
  box-shadow: -6px 0 transparent, 6px 0 transparent, 0 2px 2px -2px #ddd; }

.classroom #shelf_control.student, .classroom #notification_control.student {
  display: none; }

.classroom #shelf_control, .classroom #member_control, .classroom #notification_control {
  border-radius: 0;
  border: unset;
  display: block;
  text-align: right;
  margin-top: 0; }

#shelf_control, #member_control, #notification_control {
  margin-top: 1.5em; }

#shelf_control > .label, #classroom_control > .label, #member_control > .label, #notification_control > .label {
  color: #666;
  display: inline-block;
  font-size: 24px;
  font-weight: bold; }

#regal #bag, #regal #classroom_archive, #notification_archive {
  font-size: 13px;
  color: #666;
  display: inline-block;
  line-height: 3em;
  margin-right: 0.7em; }

#regal #bag button,
#regal #classroom_archive button,
#notification_archive button {
  width: 2.5em;
  height: 1.1em;
  border-radius: 0.5em;
  background: #ccc;
  cursor: pointer;
  margin-left: 0.5em;
  position: relative;
  bottom: 0.2em; }

#members, #class_notifications {
  padding: 0.5em 1.7em 0.5em 1em;
  border-radius: 0 0 0.2em 0.2em; }

#members, #class_notifications {
  background: #fff;
  margin-bottom: 0.5em;
  font-size: 15px; }

#members > .member,
#members > .invited_member,
#notification_recipient_select > .member,
#class_notifications > .class_notification {
  display: table;
  width: 100%;
  border: solid thin #ddd;
  border-radius: 0.2em;
  margin: 0.25em auto;
  white-space: normal;
  box-shadow: 0px 0px 5px 2px #ddd;
  user-select: none; }

#class_notifications > .class_notification.hidden {
  display: none; }

#notification_page {
  text-align: center;
  margin-top: 1em; }

#notification_page > ul {
  display: inline-block; }

#notification_page.compact-theme a, #notification_page.compact-theme span {
  box-shadow: none;
  border: 1px solid #ddd;
  background: #fff; }

#notification_page.compact-theme li:first-child a, #notification_page.compact-theme li:first-child span {
  border-left: 1px solid #ddd; }

#notification_page.compact-theme .current {
  background: #fff;
  color: #ff6600;
  font-weight: bold; }

#notification_page.compact-theme a:hover, #notification_page.compact-theme li:not(.disabled):not(.active) span:hover {
  background: #eee; }

#notification_recipient_select > .member,
#class_notifications > .class_notification {
  cursor: pointer; }

#members > .member > div, #class_notifications > .class_notification > div, #members > .invited_member > div {
  vertical-align: middle; }

.class_notification_actions, .member_actions {
  white-space: nowrap; }

#members > div > div,
#notification_recipient_select > div > div,
#class_notifications > div > div {
  width: 32%;
  display: table-cell;
  padding: 0.25em 1em; }

#class_notifications > div > div.class_notification_title {
  padding-left: 0.5em;
  width: 60%;
  word-wrap: break-word; }

#class_notifications > div > div.class_notification_icon {
  width: 2%;
  min-width: 17px;
  padding: 0.25em;
  padding-left: 0.75em; }

div.class_notification_icon > span[class^="class-icon-"], div.class_notification_icon > span[class*=" class-icon-"] {
  font-size: 18px !important; }

#class_notifications > div > div.class_notification_date,
#class_notifications > div > div.class_notification_actions {
  width: 19.5%; }

#members > div > div.member_name,
#members > div > div.invited_member_email {
  width: 60%;
  word-wrap: break-word; }

#members > div > div.member_role,
#members > div > div.member_actions,
#members > div > div.invited_member_delete {
  width: 26.5%; }

#members > div > div.member_name > span.role {
  font-size: 18px; }

#notification_recipient_select > div {
  cursor: pointer;
  color: #ccc; }

#notification_recipient_select > div.selected {
  color: #fff;
  background-color: #ff6600; }

#notification_recipient_select > div > div:nth-child(2) {
  text-align: right; }

#members > .member > .member_role,
#members > .invited_member > .member_role,
#class_notifications > .class_notification > .class_notification_date {
  color: #ccc;
  font-size: 13px; }

#members > .member > .member_actions,
.invited_member_delete,
.class_notification > .class_notification_actions {
  text-align: right; }

.member > .member_actions > button,
.invited_member_delete_button,
.invited_member_resend_invitation_button,
.class_notification > .class_notification_actions > button {
  width: auto;
  font-weight: normal;
  padding: 5px; }

.member_actions > button > span,
.invited_member button > span,
.class_notification_actions > button > span {
  font-size: 18px; }

.notification_input {
  padding: 5px; }

.member.teacher .member_promote_button,
.member.student .member_demote_button,
.member.disabled_user .member_demote_button,
.member.disabled_user .member_promote_button,
.member.deleted_user .member_promote_button,
.member.deleted_user .member_demote_button {
  display: none; }

.member_promote_button[data-teacher_p="0"], .member_promote_button[data-teacher_p="0"] {
  visibility: hidden; }

#members > .invited_member {
  color: #ccc; }

#member-cloud button, #member_invite_email button, #member_invite_csv button, #member_invite_other button, #token_create button, #token_create_confirm_dialog button {
  font-size: 13px;
  width: auto;
  margin-right: 1em; }

#member_invite_email_text {
  border: 1px inset;
  font-size: 18px;
  padding: 5px; }

.member_label {
  margin: 1em 0 0.5em 0;
  font-weight: bold;
  font-size: 15px; }

.member_heading {
  font-weight: bold;
  margin-top: 1em; }

.missing_book_warning {
  color: darkred;
  cursor: pointer; }

#class_notifications > .class_notification {
  border-left: 0.5em solid #fff; }

#class_notifications > .class_notification.new {
  border-left: 0.5em solid #ff6600; }

.class_notification.new > .class_notification_title {
  font-weight: bold; }

.class_notification.student > .class_notification_date {
  text-align: right; }

#notification_dialog {
  min-width: 33vw; }

.notification_label {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  font-weight: bold; }

#notification_admin_done {
  margin-top: 0.5em; }

.class_notification_dialog_content {
  padding: 0.25em;
  border: solid thin #ddd;
  margin-top: 1em;
  margin-bottom: 1em;
  word-wrap: break-word; }

.class_notification_dialog_date {
  font-size: 13px;
  text-align: right; }

.book-choice {
  display: inline-block;
  margin-right: 1em;
  cursor: pointer; }

.book-choice img {
  max-height: 200px;
  max-width: 200px; }

.book_add_confirm_dialog {
  text-align: center; }

.add_code, .open_in_class {
  position: absolute;
  right: 2em;
  top: 0;
  bottom: 0;
  height: 3em;
  margin: auto;
  font-size: 13px;
  width: auto;
  z-index: 2; }

.add_code {
  right: 1em; }

.open_in_class {
  top: auto;
  bottom: 0.5em;
  right: 0.6em; }

a.all .open_in_class {
  filter: grayscale(1); }

#add_code_dialog {
  min-width: 26em;
  width: 100%; }

#add_code_dialog > input {
  box-sizing: border-box;
  width: auto;
  float: left; }

#add_code_dialog > div {
  margin-bottom: 1em; }

.add_code_title {
  font-weight: bold; }

.class_invited > div > div {
  opacity: 0.4; }

button.accept_invite {
  width: 21em;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  height: 3em;
  z-index: 2;
  font-size: 13px; }

.ui-dialog-buttonset > .class_choice_button {
  background: #ff6600 !important;
  color: #fff !important;
  font-weight: bold !important;
  border-radius: 0.2em !important;
  font-size: 13px !important;
  width: 35%;
  border: none; }

.profile-icon {
  font-size: 40px; }

#notification_send_control {
  display: inline-block;
  width: 100%; }

#notification_send_control > #user_possible, #notification_send_control > #user_send_to {
  display: inline-block;
  height: 200px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: auto;
  min-width: 250px;
  vertical-align: top;
  margin-bottom: 1em; }

#notification_send_control .member {
  border: solid thin #ddd;
  border-radius: 5px;
  margin: 0.25em 0.1em;
  white-space: nowrap;
  cursor: pointer;
  user-select: none; }

#notification_send_control .member > * {
  display: inline-block; }

#notification_send_control .member > .member_role {
  color: #ccc;
  font-size: 13px; }

.user_send_to_label {
  color: #ccc;
  margin-bottom: 1em; }

.ui-dialog-buttonset > button.ui-button.notification_send_selected.inactive, button.inactive {
  background-color: #ccc !important; }

#classroom_control button.inactive, #shelf_control button.inactive {
  background-color: #ffe9db !important;
  color: #ff6600;
  border: 1px solid #ff6600; }

#classroom_search_list, #classroom_edit_list, #ebook_search_list, #ebook_edit_list {
  border: 1px solid #ff6600; }

#create_notification_form #title {
  border: 1px solid #ccc; }

#notification_recipients {
  font-size: 13px; }

button.ui-button .ui-icon {
  background-image: url("img/ui-icons_000000_256x240.png"); }

.ui-dialog {
  max-width: 100%; }

#classrooms:not(.class_info), #shelf, #demo_shelf, #info_page {
  padding: 8px;
  padding-bottom: 1px;
  background-color: #fff;
  border-radius: 0 0 0.2em 0.2em; }

#mid.classroom #regal.all #ebook_container #shelf a div.deactivated {
  background-color: #cccccc7f; }

#mid.classroom #regal.all #ebook_container #shelf a div.deactivated > * {
  filter: grayscale(1); }

#mid.classroom #regal.all #ebook_container #shelf a div.deactivated > button {
  filter: grayscale(0); }

#mid.classroom #regal.all #ebook_container #shelf a div .add_code {
  right: 4em; }

#mid.classroom #regal.all #ebook_container #shelf a div.deactivated > button > span.bag {
  display: none; }

#mid.classroom #regal.all #ebook_container #shelf a div:not(.deactivated) > button > span.all {
  display: none; }

#mid.classroom #regal.bag #ebook_container #shelf a.deactivated {
  display: none; }

#classfeld, #tokenfeld, #codefeld {
  padding: 0.5em; }

.tab {
  display: inline-block;
  border: 1px solid #666;
  border-bottom: 1px solid transparent;
  border-radius: 5px 5px 0 0;
  padding: 2px;
  color: #666; }

.tab.active {
  border: 1px solid #ff6600;
  background-color: #ff6600;
  color: #fff;
  border-bottom: 1px solid transparent; }

#classfeld, #tokenfeld {
  border: 1px solid #ccc; }

.show_section {
  flex-grow: 1;
  border: none;
  border-radius: 0;
  padding: 1em;
  font-size: 18px;
  box-shadow: inset 0px -2px 1px -1px #ddd;
  z-index: 1; }

.show_section.active {
  background-color: #fff;
  color: #ff6600;
  border-bottom: 2px solid #ff6600;
  box-shadow: none;
  box-shadow: -2px 0 5px -2px #ddd, 2px 0 5px -2px #ddd;
  z-index: 2; }

.show_section:not(.active) {
  background-color: #eee;
  color: #999; }

.section_container:not(.active) {
  display: none; }

.show_section_container {
  width: 100%;
  display: flex; }

.show_section_container > button:first-child {
  border-radius: 0.2em 0 0 0; }

.show_section_container > button:last-child {
  border-radius: 0 0.2em 0 0; }

.notification_count_badge {
  margin-left: 5px;
  border-radius: 50%;
  background-color: #ff6600;
  font-size: 0.5em;
  color: #fff;
  display: inline-block;
  min-width: 2em;
  line-height: 2em;
  text-align: center;
  position: relative;
  top: -1em; }

h1 .notification_count_badge {
  position: relative;
  top: -1.1em; }

.member_admin_buttons {
  display: flex; }

.member_admin_buttons > button {
  flex-grow: 1;
  margin: 0.1em;
  padding: 0;
  font-size: 13px; }

#create_notification_form input[type=radio] {
  width: auto; }

#notification_recipient_select {
  display: none; }

#notification_create_content_container > #content > .ql-editor {
  min-height: 150px;
  padding: 0; }

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value=small]::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value=small]::before {
  content: 'Klein' !important;
  font-size: 13px !important; }

.ql-snow .ql-picker.ql-size .ql-picker-label::before,
.ql-snow .ql-picker.ql-size .ql-picker-item::before {
  font-size: 15px !important; }

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value=large]::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value=large]::before {
  content: 'GroÃ' !important;
  font-size: 18px !important; }

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value=huge]::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value=huge]::before {
  content: 'Riesig' !important;
  font-size: 24px !important; }

.ql-container {
  font-size: 15px !important; }

.ql-size-small {
  font-size: 13px; }

.ql-size-large {
  font-size: 18px; }

.ql-size-huge {
  font-size: 24px; }

.ql-align-center {
  text-align: center; }

.ql-align-right {
  text-align: right; }

.ql-align-justify {
  text-align: justify; }

.ql-indent-1 {
  padding-left: 3em; }

.ql-indent-2 {
  padding-left: 6em; }

.ql-indent-3 {
  padding-left: 9em; }

.ql-indent-4 {
  padding-left: 12em; }

.ql-indent-5 {
  padding-left: 15em; }

.ql-indent-6 {
  padding-left: 18em; }

.ql-indent-7 {
  padding-left: 21em; }

.ql-indent-8 {
  padding-left: 24em; }

#demo_shelf {
  text-align: center; }

#demo_shelf > a > div {
  display: inline-block;
  box-shadow: 0px 0px 5px 2px #ccc;
  width: 140px;
  height: 200px;
  margin: 18px;
  box-sizing: content-box;
  position: relative; }

#demo_shelf > a > div > img {
  width: 140px;
  height: 200px; }

#demo_shelf > a > div:hover {
  margin: 15px;
  border: 3px solid #81cbed; }

.ebpcorner {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  border-width: 50px 50px 0 0;
  border-color: transparent #ff6600 transparent transparent;
  right: 0;
  bottom: 0; }

.ebpcorner > span {
  color: #fff;
  position: absolute;
  right: -45px;
  bottom: 5px;
  font-size: 18px; }

.ebp_book_corner, .approbation_book_corner {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  border-width: 0 50px 50px 0;
  right: 0;
  top: 0; }

.ebp_book_corner > span, .approbation_book_corner > span {
  color: #fff;
  position: absolute;
  right: -45px;
  font-size: 18px; }

.ebp_book_corner {
  border-color: transparent #ff6600 transparent transparent; }

.ebp_book_corner > span {
  top: 5px; }

.approbation_book_corner {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  border-width: 0 50px 50px 0;
  border-color: transparent #40b7ea transparent transparent;
  right: 0;
  top: 0; }

.approbation_book_corner > span {
  top: 2px; }

.info_text {
  margin: 0.5em 0 1em 0;
  max-width: 50em; }

.ui-widget-header {
  border: 0px !important;
  border-bottom: 1px solid #333 !important;
  background: #fff !important;
  font-size: 15px;
  color: #333 !important; }

.ui-widget-header a {
  color: #fff !important; }

.ui-dialog {
  padding: 0em !important; }

.ui-dialog.ui-widget.ui-widget-content {
  font-size: 15px;
  box-shadow: 0px 0px 15px 5px #333333CC;
  border: 0px !important; }

.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
  border-top-left-radius: 0px !important; }

.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
  border-top-right-radius: 0px !important; }

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
  border-bottom-left-radius: 0px !important; }

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
  border-bottom-right-radius: 0px !important; }

.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
  border: none !important;
  background: #fff !important;
  font-weight: normal !important; }

.ui-widget-overlay.ui-front {
  background-color: #333;
  opacity: 0.5; }

#qr_code {
  text-align: center; }

#reader__dashboard button {
  width: 90%; }

@media (max-width: 1120px) {
  .replacement_book {
    margin-right: 10px;
    margin-left: 10px;
    max-width: 160px; } }

@media (max-width: 640px) {
  #mid {
    padding: 0; }
  .class-button-text, .toggle-button-text {
    display: none; }
  #regal #add1, #regal #add_classroom, #regal #create_classroom, #regal #class_admin, #book_add, #class_member_admin,
  #notification_add_button, #classroom_edit_list, #ebook_edit_list, #classroom_search_list, #ebook_search_list {
    min-width: 2.5em;
    height: 2.5em; }
  #classrooms.all .class_info {
    max-width: 75%; }
  #classroom_search_list_input, #ebook_search_list_input {
    height: 2.4em; }
  #classroom_search_list_input.active, #ebook_search_list_input.active {
    width: 9em; }
  #classroom_search_list, #classroom_edit_list, #create_classroom, #ebook_search_list, #ebook_edit_list, #regal #add1 {
    padding: 1px 4px; }
  #shelf_control:not(.info_control), #classroom_control {
    display: block;
    text-align: right; }
  #shelf_control > div:not(.label), #classroom_control > div:not(.label) {
    position: relative; }
  #shelf_control:not(.info_control) > .label, #classroom_control > .label {
    display: block;
    position: absolute; }
  #shelf_control > .label, #classroom_control > .label, #member_control > .label, #notification_control > .label {
    font-size: 24px;
    margin: auto 0; }
  [class^="class-icon-"] {
    font-size: 24px; }
  .current_class_name {
    font-size: 15px; }
  #demo_shelf > a > div {
    width: 100px;
    height: 145px; }
  #demo_shelf > a > div > img {
    width: 100px;
    height: 145px; }
  #regal #classrooms > a > div > .class_resources {
    display: none; }
  #regal #classrooms > a > div, #regal #classrooms > div {
    min-height: unset; }
  #regal #shelf > a > div > div > h2 > span.publisher {
    display: none; }
  #regal #shelf > a > div > div > h1 {
    margin-bottom: 1em;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden; }
  .open_in_class {
    top: auto;
    bottom: 0.5em;
    right: 0;
    background: none; }
  .open_in_class > span {
    color: #fff;
    border: 1px solid #ff6600;
    border-radius: 0.2em;
    padding: 2px;
    background-color: #ff6600;
    font-size: 24px; }
  #mytxt {
    display: none;
    position: absolute;
    top: 50px;
    right: 0px;
    padding: 0.5em;
    background-color: #fff;
    border: 1.5px solid #ccc;
    box-shadow: 0px 0px 5px 2px #ddd;
    border-radius: 0.2em;
    z-index: 1; }
  .profile-icon {
    font-size: 32px; }
  #members > .member,
  #members > .invited_member,
  #notification_recipient_select > .member,
  #class_notifications > .class_notification {
    white-space: normal; }
  #members > .member > .member_role,
  #members > .invited_member > .member_role,
  #class_notifications > .class_notification > .class_notification_date {
    display: none; }
  button.accept_invite {
    width: 14em; }
  #regal #classrooms button.bag {
    margin-left: auto; } }

/*# sourceMappingURL=br.css.map */
