.jumbotron {
  min-height: 100%;
  padding: 100px 0;
}

.jumbotron:before {
  animation: 1250ms linear 0.5s shooting-star;
  background-image: url('https://assets.tryhackme.com/img/shootingstar.png');
  background-size: 100px 65px;
  content: ' ';
  height: 65px;
  left: 90%;
  position: absolute;
  top: -100px;
  width: 100px;
  z-index: 100;
}

@keyframes shooting-star {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  25% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate3d(-450px, 380px, 0);
  }
}

.jumbo-svg-waves {
  position: absolute;
  width: 100%;
  bottom: 0px;
  opacity: 0.55;
  z-index: 1;
  bottom: -95px;
}

.short-home-container {
  z-index: 999;
  padding-top: 20px;
}

@media (max-width: 786px) {
  .short-home-container {
    justify-content: center;
  }
  .banner-items-container {
    justify-content: center;
  }
  .main-heading {
    font-size: 34px;
  }
  .main-sub-heading {
    font-size: 18px;
  }
  .jumbo-svg-waves {
    bottom: 0px;
  }
}

.rocket-man {
  width: 300px;
}

/* rocket man animation */
.rocket-man {
  animation: hovering 10s infinite;
}

@keyframes hovering {
  0% {
    transform: translate3d(0px, 0px, 0);
  }
  25% {
    transform: translate3d(10px, -10px, 0);
  }
  50% {
    transform: translate3d(5px, 5px, 0);
  }
  75% {
    transform: translate3d(-10px, 10px, 0);
  }
  100% {
    transform: translate3d(0px, 0px, 0);
  }
}
/* rocket man animation */

.stat-circle {
  width: 120px;
  height: 120px;
  border: 4px solid #9acc14;
  background: var(--main-color);
  line-height: 116px;
  font-size: 32px;
  font-weight: 600;
  color: #fff;
  border-radius: 50%;
  margin: 0 auto 12px;
}

.short-signup {
  margin-top: 10px;
}

.short-signup input {
  background: #fff; /* c2c4c8 */
  border: 0;
}

.short-signup input,
.short-signup button {
  font-size: 20px;
}

.home-break {
  margin: 45px 0;
}

.carousel-container {
  padding: 44px 62px;
  border-radius: 16px;
  background-color: #1c2538;
  color: white;
}

.carousel-container .carousel-indicators {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 240px;
  cursor: pointer;
  box-sizing: content-box;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  background-clip: padding-box;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  transition: opacity 0.6s ease;
  color: white;
  font-size: 20px;
  margin: 0 30px 0 0;
  padding: 0;
}

.carousel-container .carousel-indicators div {
  margin-bottom: 20px;
  border-bottom: 3px solid transparent;
}

.carousel-container .carousel-indicators div.active {
  border-bottom: 3px solid #88cc14;
}

.carousel-container .carousel-indicators div:hover {
  border-bottom: 3px solid #bbc7d1;
}

@media (max-width: 960px) {
  .carousel-container {
    padding: 44px 15px;
  }
  .carousel-indicators {
    text-align: center;
    margin: 0 !important;
  }
}

.whyTHMImg {
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 10px;
  -ms-interpolation-mode: nearest-neighbor;
  /* border: 2px solid #bbc7d1; */
  /* border-top: 0; */
}

.whyTHMVideo {
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 10px;
  -ms-interpolation-mode: nearest-neighbor;
  border: 2px solid #bbc7d1;
  border-top: 0;
}

.whyTHMVideo:active,
.whyTHMVideo:focus {
  box-shadow: 0;
  outline: 0;
}

.console-header {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  height: 30px;
  background-color: #bbc7d1;
}

.console-header span {
  margin-left: 10px;
  margin-top: 8px;
  display: block;
  float: left;
  height: 14px;
  width: 14px;
  border-radius: 360px;
  background-color: #b32b2b;
}

.console-header span:nth-child(2) {
  background-color: #589724;
}

.console-header span:nth-child(3) {
  background-color: #e0bc3b;
}

#carouselWhyTHM {
  min-height: 615px;
  display: flex;
  justify-content: center;
}

.testimonial-tweets-container {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.testimonial-tweets-container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.tweet-testimonials {
  min-width: 900px;
}

body.modal-open {
  padding: 0 !important;
}

body.modal-open .navbar-colour-index {
  transition: all 0s ease-in-out;
}

.navbar-colour-index {
  transition: all 0.5s ease-in-out;
  background-color: transparent;
}

.navbar-colour-scroll {
  background-color: var(--main-color);
}

.show-nav-pagelinks .navbar-pagelinks {
  transition: all 0.5s ease-in-out;
  display: inline-flex !important;
}

.navbar-login-signup-container {
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

@media screen and (max-width: 767px) {
  .mobile-navbar-hide-login-signup {
    opacity: 0;
  }
}

.signup-footer {
  display: flex;
  justify-content: center;
  text-align: center;
}

.embed-container {
  --video--width: 857;
  --video--height: 540;
  position: relative;
  padding-bottom: calc(var(--video--height) / var(--video--width) * 100%); /* 41.66666667% */
  overflow: hidden;
  max-width: 100%;
  background: transparent;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 10px;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.star-background {
  position: relative;
  overflow: hidden !important;
  background-image: linear-gradient(rgba(17, 27, 41, 0.6), rgba(17, 27, 41, 0.6)),
    url(https://assets.tryhackme.com/img/svgs/star-pattern.svg);
  background-color: var(--logged-out-bg);
  background-position: 0 -320px;
}
