@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f7f7f7;
}

.top-nav {
  display: flex;
  align-items: left;
  justify-content: space-between;
  padding: 10px;
  background-color: #f2f2f2;
}

.logo-container {
  display: flex;
  align-items: left;
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 100px;
  height: 100px;
}

.facts-list {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  font-size: 24px;
  color: #555;
  margin-left: 10px;
}

li a {
  text-decoration: none;
  color: #555;
  transition: color 0.3s ease;
}

.facts-list li a:hover {
  color: #ff6b6b;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 30px;
}

.section {
  flex-grow: 1;
  margin-right: 20px;
}

.demo {
  flex-grow: 1;
  margin-right: 20px;
}

.image-field {
  flex-shrink: 0;
}

.image {
  width: 200px; /* Adjust the image width as needed */
  height: auto;
}

.hero {
  margin-bottom: 40px;
}

.demo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.hero h1 {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.hero p {
  text-align: left;
  font-size: 18px;
  color: #333;
  width: 33%;
  margin: 0 auto; /* Center the paragraph */
}

section {
  margin-bottom: 40px;
}

section h2 {
  font-size: 30px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

section ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

section ul li {
  font-size: 24px;
  color: #555;
  margin-bottom: 8px;
}

.facts-list li {
  font-size: 16px;
  color: #555;
  margin-left: 10px;
}

.demo-container input {
  font-family: 'Montserrat', sans-serif;
  border: none;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  width: 100%;
  font-size: 16px;
  transition: all 0.3s ease;
}

.demo-container button {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  background-color: rgb(215, 99, 119);
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.demo-container button:hover {
  background-color: rgb(209, 53, 79);
  transform: translateY(-2px);
}

.demo-container input:focus {
  outline: none;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  transform: translateY(-2px);
}

img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}
