body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.loader-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

.loader-container p {
    margin-top: 10px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
  
.transparent-div {
   background-color: transparent;
   padding: 20px;
}
  
.move-down {
  margin-top: 100px;
}
  
.displayed-div {
   background-color: lightblue;
   padding: 20px;
   margin-top: 20px;
}
  