<<<<<<< HEAD
body {
  background-color: black;
=======
.body {
  background-color: white;
>>>>>>> 1c1bc91d42e2dcdb1e64bc59f8ae31d55e458a41
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
<<<<<<< HEAD
  height: 80vh;
  background-color: black;
}
.gardient{
  padding: 100px;
  background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(198,24,159,1) 50%, rgba(0,0,0,1) 97%);
=======
  background: linear-gradient(to bottom, #660f3b, #854343);  
  width: 100%;
>>>>>>> 1c1bc91d42e2dcdb1e64bc59f8ae31d55e458a41
}


.heading {
  font-size: 48px;
  font-weight: bold;
  color: white;
  margin-bottom: 2.5%;
}

.input-field {
  font-family: Montserrat, sans-serif;
  border: none;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  width: 50%;
  font-size: 16px;
  transition: all 0.3s ease;
}

.aiButton {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  background-color: #8c3492;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.backButton {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  background-color: #8c3492;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}
