body {
  background: linear-gradient(to bottom, #3f1a42, #825fba);  
}


.ai-container {
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
}


.button-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}


.heading {
  font-size: 48px;
  font-weight: bold;
  color: white;
  margin-bottom: 2.5%;
}

.input-field {
  font-family: Montserrat, sans-serif;
  border: none;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  width: 50%;
  font-size: 16px;
  transition: all 0.3s ease;
}

.button-container button{
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  background-color: #3f1a42;  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 5%;
  transition: all 0.3s ease;
}

.download-container button {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  background-color: #3f1a42;  
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.download-container {
  display: flex;
  gap: 10px;
  color: white;
}

