body{
  background: linear-gradient(to bottom, #000000, #000000,#ffffff);
}
.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-left: 4%;
   
  }
  .gallery p{
  text-align: left;
  font-size: 18px;
  color: #f2f2f2;
  width: 33%;
  margin: 0 auto;
  }
  
  .image-container {
    margin: 10px;
    transition: transform 0.9s;
  }
  
  .image-container:hover {
    transform: scale(1.2);
  }
  
  .image {
    width: 90%;
    height: 90%;
  }
  
  .Button {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: 75%;
  }
  .Button button{
    background-color: orange;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
    font-family: Montserrat, sans-serif;
  }
  
  .rectangle {
    margin-left: 10%;
    width: 500px;
    height: 200px;
    background-color: #eaeaea;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    /* text-align: center; */
  }
  .rectangle2 {
    margin-left: 10%;
    margin-top: 2%;
    width: 500px;
    height: 200px;
    background-color: #eaeaea;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    /* text-align: center; */
  }
  
  .headline {
    font-size: 28px;
    margin-bottom: 10px;
  }
  
  .text {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .btn {
    background-color: orange;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
    font-family: Montserrat, sans-serif;
  }
  
  
  .checkbox-wrapper {
    display: flex;
    margin-right: 350px;
  }
  
  input[type="checkbox"] {
    width: 16px;
    height: 16px;
    appearance: none;
    border-radius: 4px;
    border: 2px solid orange;
    cursor: pointer;
    margin-right: 8px;
  }
  
  input[type="checkbox"]:checked {
    background-color: orange;
  }
  .footer{
    padding: 20px;
  }

  .button-container-div {
    display: flex;
    justify-content: center;
    gap: 1%;
  }
  
  .tryDivision {
    color: white;
    text-align: center;
  }

  .askDivision {
    margin-bottom: 5%;
  }

  .button-container-div button {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    background-color: orange;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

button:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;
  }