body{
  background: linear-gradient(to bottom, #000000, #000000,#ffffff);
}
.result{
  display: flex;
  justify-content: center;
  align-items: center;
}
.result p{
  text-align: center;
  font-size: 50px;
  color: orange;
  width: 33%;
  margin: 0 auto;
}
.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-left: 5%;
   
  }
  .gallery p{
  text-align: left;
  font-size: 18px;
  color: #f2f2f2;
  width: 33%;
  margin: 0 auto;
  }
  
  .image-container {
    margin: 10px;
    transition: transform 0.9s;
  }
  
  .image-container:hover {
    transform: scale(1.2);
  }
  
  .image {
    width: 90%;
    height: 90%;
  }
  
  .Button {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: 75%;
  }
  .Button button{
    background-color: orange;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
  }
  .recs{
    display: flex;
    justify-content: center;
  }
  .rectangle {
    margin-right: 10%;
    width: 500px;
    height: 200px;
    background-color: #eaeaea;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    /* text-align: center; */
  }
  .rectangle2 {
    margin-left: 10%;
    width: 500px;
    height: 200px;
    background-color: #eaeaea;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    /* text-align: center; */
  }
  
  .headline {
    font-size: 28px;
    margin-bottom: 10px;
  }
  
  .text {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .btn {
    background-color: orange;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
  }
  
  
  .checkbox-wrapper {
    display: flex;
    margin-right: 70%;
  }
  .checkbox-wrapper2 {
    display: flex;
    margin-right: 78%;
  }
  .checkbox-wrapper3 {
    display: flex;
    margin-right: 69.5%;
  }
  .checkbox-wrapper4 {
    display: flex;
    margin-right: 55%;
  }
  .checkbox-wrapper5 {
    display: flex;
    margin-right: 55%;
  }
  
  input[type="checkbox"] {
    width: 16px;
    height: 16px;
    appearance: none;
    border-radius: 4px;
    border: 2px solid #ffa500;
    cursor: pointer;
    margin-right: 8px;
  }
  
  input[type="checkbox"]:checked {
    background-color: #ffb500;
  }
  .footer{
    padding: 50px;
  }
  .textbox {
    position: absolute;
    left:19%;
    top: 112%;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 5px;
    display: none;
  }
  
  .checkbox-wrapper:hover .textbox {
    display: block;
  }
  .loader{
    margin-top: 1%;
  }