@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../../fonts/PTSans-Regular.ttf) format('ttf');
}

body {
    font-family: 'PT Sans', sans-serif;
    padding: 0;
    text-align: center;
    max-width: 700px;
    margin: auto;
}

/* GLOBAL FUNCTIONS
--------------------------------------------- */
/* GLOBAL MIXINS
--------------------------------------------- */
/* AUTO SCALING FOR TYPE WITH MIN/MAX SIZES

  @param {Number}  $responsive  - Viewport-based size
  @param {Number}  $min         - Minimum font size (px)
  @param {Number}  $max         - Maximum font size (px) (optional)

  @param {Number}  $fallback    - Fallback for viewport-based units (optional)

  @example SCSS - 5vw size, 35px min & 150px max size + 50px fallback:

  @include responsive-font(5vw, 35px, 150px, 50px);
*/
/* VUE DESIGN SYSTEM SPACING HELPERS
--------------------------------------------- */
/*
  INSET-SPACE: For interface containers.
  INSET-SQUISH-SPACE: For buttons, form elements, cells.
  STACK-SPACE: For vertically stacked content.
  INLINE-SPACE: For things displayed inline.
*/

.row {
    margin: 0 24px;
    border: 0;
    /*margin: 0;*/
    padding: 0;
}

.row input {
    box-sizing: border-box;
    display: block;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    padding: 10px 20px 14px;
    color: rgba(0, 0, 0, 0.64);
    outline: none;
    margin-bottom: 25px;
    border: solid 1px rgba(0, 0, 0, 0.2);
    width: 100%;
}


fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

fieldset input {
    box-sizing: border-box;
    display: block;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    padding: 10px 20px 14px;
    color: rgba(0, 0, 0, 0.64);
    outline: none;
    margin-bottom: 15px;
    border: solid 1px rgba(0, 0, 0, 0.2);
    width: 100%;
}

input::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.64);
}
input.dark {
    background: none;
    border-color: rgba(255, 255, 255, 0.6);
    color: rgba(255, 255, 255, 0.6);
}
input.dark::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.6);
}
input:hover, input.hover, input:focus, input.focus, input:active, input.active {
    border-color: #005980;
}
input:hover.dark, input.hover.dark, input:focus.dark, input.focus.dark, input:active.dark, input.active.dark {
    border-color: white;
}
input:disabled {
    background-color: #f1f5f7;
    border-color: rgba(0, 0, 0, 0.2);
}
input:disabled.dark {
    background-color: rgba(246, 246, 246, 0.32);
    border-color: rgba(0, 0, 0, 0.1);
}
input:active, input.active {
    color: rgba(0, 0, 0, 0.82);
}
input:active::-webkit-input-placeholder, input.active::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.82);
}
input:active.dark, input.active.dark {
    color: white;
}
input:active.dark::-webkit-input-placeholder, input.active.dark::-webkit-input-placeholder {
    color: white;
}
input.error {
    color: rgba(0, 0, 0, 0.82);
    border-color: #c52b19;
}
input.error::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.82);
}
input.error.dark {
    background-color: rgba(197, 43, 25, 0.2);
    color: white;
}
input.error.dark::-webkit-input-placeholder {
    color: white;
}

.button {
    color: white;
    font-size: 20px;
    background-color: #005980;
    font-family: "PT Sans", sans-serif;
    letter-spacing: 0.25px;
    text-decoration: none;
    text-align: center;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    min-width: 1px;
    -webkit-appearance: none;
    display: block;
    padding: 12px;
    width: 100%;
}
.button.button--primary:not(.button--disabled):hover, .button.button--primary:not(.button--disabled):focus, .button.button--primary:not(.button--disabled).hover, .button.button--primary:not(.button--disabled).focus, .button.button--secondary:not(.button--disabled):hover, .button.button--secondary:not(.button--disabled):focus, .button.button--secondary:not(.button--disabled).hover, .button.button--secondary:not(.button--disabled).focus {
    color: white;
    background-color: #019fc2;
    text-decoration: none;
    outline: 1px solid #019fc2;
}
.button.button--primary:not(.button--disabled):active, .button.button--primary:not(.button--disabled).active, .button.button--secondary:not(.button--disabled):active, .button.button--secondary:not(.button--disabled).active {
    color: rgba(255, 255, 255, 0);
    background-color: #005980;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 12px 12px;
}
.button.button--primary:not(.button--disabled):active:hover, .button.button--primary:not(.button--disabled).active:hover, .button.button--secondary:not(.button--disabled):active:hover, .button.button--secondary:not(.button--disabled).active:hover {
    background-color: #005980;
    color: rgba(255, 255, 255, 0);
}
.button.button--primary.button--dark, .button.button--secondary.button--dark {
    background: white;
    color: #005980;
    outline: 1px solid white;
}
.button.button--primary.button--dark:not(.button--disabled):hover, .button.button--primary.button--dark:not(.button--disabled):focus, .button.button--primary.button--dark:not(.button--disabled).hover, .button.button--primary.button--dark:not(.button--disabled).focus, .button.button--secondary.button--dark:not(.button--disabled):hover, .button.button--secondary.button--dark:not(.button--disabled):focus, .button.button--secondary.button--dark:not(.button--disabled).hover, .button.button--secondary.button--dark:not(.button--disabled).focus {
    color: white;
    background-color: #019fc2;
}
.button.button--primary.button--dark:not(.button--disabled):active, .button.button--primary.button--dark:not(.button--disabled).active, .button.button--secondary.button--dark:not(.button--disabled):active, .button.button--secondary.button--dark:not(.button--disabled).active {
    color: rgba(255, 255, 255, 0);
    background-image: url("../assets/icons/button-active.svg");
    background-color: #019fc2;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 12px 12px;
    outline: 1px solid #019fc2;
}
.button.button--primary.button--dark:not(.button--disabled):active:hover, .button.button--primary.button--dark:not(.button--disabled).active:hover, .button.button--secondary.button--dark:not(.button--disabled):active:hover, .button.button--secondary.button--dark:not(.button--disabled).active:hover {
    background-color: #019fc2;
    color: rgba(255, 255, 255, 0);
}
.button.button--secondary {
    background-color: white;
    outline: 1px solid #005980;
    color: #005980;
}
.button.button--secondary:not(.button--disabled):active, .button.button--secondary:not(.button--disabled).active {
    color: rgba(255, 255, 255, 0);
    outline: 1px solid #005980;
}
.button.button--secondary:not(.button--disabled):hover, .button.button--secondary:not(.button--disabled):focus, .button.button--secondary:not(.button--disabled).hover, .button.button--secondary:not(.button--disabled).focus {
    outline: 1px solid #019fc2;
}
.button.button--secondary.button--dark {
    background: none;
    outline: 1px solid white;
    color: white;
}
.button.button--secondary.button--dark:not(.button--disabled):active, .button.button--secondary.button--dark:not(.button--disabled).active {
    color: rgba(255, 255, 255, 0);
    outline: 1px solid #019fc2;
}
.button.button--secondary.button--dark:not(.button--disabled):hover, .button.button--secondary.button--dark:not(.button--disabled):focus, .button.button--secondary.button--dark:not(.button--disabled).hover, .button.button--secondary.button--dark:not(.button--disabled).focus {
    outline: 1px solid #019fc2;
}
.button.button--disabled {
    cursor: auto;
    opacity: 0.4;
    background-color: #005980;
    color: white;
}
.button.button--disabled.button--dark {
    color: #005980;
    background: white;
}
.button.button--small {
    padding: 3px 16px;
}
.button.button--medium {
    padding: 7px 16px;
}
.button.button--large {
    padding: 11px 20px;
    font-size: 16px;
    line-height: 1.5;
}

input {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    display: inline-block;
}

/*OnDemand, on the go*/
.tag-box {
    margin-top: 40px;
    display: inline-block;
    width: 60%;
}
p.tag {
    font-weight: bold;
    margin-block-end: 0px;
    margin-bottom: 11px;
}
p.tag2 {
    color: rgba(0,0,0,.64);
    margin-block-start: 0px;
    margin-top: 0px;
    padding-top: 0px;
}
a, a:visited {
    color: #0b58a2;
}

/*Style on reset password page*/
input[value="Continue"] {
    color: white;
    font-size: 20px;
    background-color: #005980;
    font-family: "PT Sans", sans-serif;
    letter-spacing: 0.25px;
    text-decoration: none;
    text-align: center;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    min-width: 1px;
    -webkit-appearance: none;
    display: block;
    padding: 12px;
    width: 100%;
}

.logo {
    margin: 24px 0;
}

.title {
    color: rgba(0,0,0,.82);
    font-size: 17px;
    font-weight: 400;
}

.form-container {
    margin: 0 24px;
}

.forgot-password {
    align-content: center;
    display: inline-flex;
    justify-content: center;
    margin-bottom: 24px;
    width: 100%;
}

.forgot-password a {
    display: block;
    padding: 12px;
    width: 100%;
}

.message-error {
    color: #c52b19;
    margin-bottom: 24px;
}
.message-info {
    margin: 0px 0px 10px;
    border: thin solid #005980;
    border-radius: 3px;
    background: #f6fbff;
    font-size: 14px;
}
#support-help {
    display: none;
    padding-top: 10px;
}

.create-account,.mfa-start-over-button {
    background-color: white;
    border: 1px solid #005980;
    color: #005980;
    padding: 12px 0px;
    border-radius: 6px;
}

.mfa-start-over {
    margin-top: 10px;
}